body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Times New Roman", sans-serif;
    background-color: #f0f0f0;
}
div {
    margin-bottom: 15px;
}
label {
    font-weight: bold;
}

/* --------------------------side nav design-------------------------- */
    #mySidenav a {
        margin-top: 150px;
        position: fixed;
        /*left: -150px;*/
        left: 0;
        transition: left 0.3s;
        padding: 15px;
        width: 150px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        border-radius: 0 5px 5px 0;
    }

    /*#mySidenav a:hover {*/
    /*    left: 0;*/
    /*}*/

    #about {
        top: 20px;
        background-color: #04AA6D;
    }

    #blog {
        top: 80px;
        background-color: #2196F3; /* Blue */
    }

    #projects {
        top: 140px;
        background-color: #f44336; /* Red */
    }

    #contact {
        top: 200px;
        background-color: #555; /* Light Black */
    }
/* --------------------------side nav design-------------------------- */

/* --------------------------header design-------------------------- */
.menu_bar{
    display: flex;
    position: absolute;
    height: 50px;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(128, 128, 128);

}
.logo{
    padding-top: 15px;
    padding-left: 10px;
}
.app-name {
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
.app-name span {
    color: #e74c3c;
}
.log_out{
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-right: 10px;
}
.log_out a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}
.log_out a:hover {
    color: #e74c3c;
}
/* --------------------------header design-------------------------- */

/* --------------------------log in design-------------------------- */
.login-container {
    width: 300px;
    margin-top: 110px;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.login-container form {
    text-align: center;
}
.login-container input[type="checkbox"] {
    margin-right: 5px;
}
.login-container a {
    text-decoration: none;
    color: #007bff;
}
.login-container a:hover {
    text-decoration: underline;
}
/* --------------------------log in design-------------------------- */

/* --------------------------sign up design-------------------------- */
.signup_container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 70px;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.registration-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.registration-section label{
    width: 120px;
}
.signup_container a {
    text-decoration: none;
    color: #007bff;
}
.signup_container a:hover {
    text-decoration: underline;
}
.type-account{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

.type{
    display: flex;
    align-items: center;
    gap: 15px;
}
/* --------------------------sign up design-------------------------- */

/* --------------------------index page design-------------------------- */
.container {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius:15px 10px;
    margin-top: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.container label {
    display: block;
    margin-bottom: 5px;
}
.controls{
    display: flex;
    justify-content: space-evenly;
}
.controls button {
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.controls button.add {
    background-color: #4caf50;
    color: white;
}
.controls button.remove {
    background-color: #ff3d00;
    color: white;
}
.controls button:hover {
    background-color: #333;
}
.redirect-button {
    text-align: center;
    margin-top: 10px;
}
.choice-input{
    display: flex;
    align-items: center;
}
.redirect-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.redirect-button a:hover {
    background-color: #333;
}
/* --------------------------index page design-------------------------- */

/* --------------------------show question design-------------------------- */
.tab {
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    width: 100%;
    margin-top: 35px;
    overflow: hidden;
    background-color: #f1f1f1;
}
.containerTabs{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.tabLinks {
    color: black;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    text-decoration: none;
}
.tabLinks:target {
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 1;
}
.tabContent:target {
    display: block;
}
.tabLinks:hover {
    background-color: #ddd;
}
.tabLinks:active {
    background-color: #ccc;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: #ddd;
}
.tabContent {
    display: none;
    width: 70%;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
#updateQuestion , #showQuestion{
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 15px;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button.deleteQuestion{
    background-color: #ff3d00;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}
#updateQuestion:hover,#showQuestion:hover,button.deleteQuestion:hover{
    background-color: #333;
}
/* --------------------------show question design-------------------------- */

/* --------------------------view question design-------------------------- */
.container-show {
    margin-top: 70px;
    min-width: 400px;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.Question{
    padding:10px;
    background-color: #D3D3D3	;
    border-radius: 10px;
}
#Q{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-show label {
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.container-show .choices{
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
.container-show .choice-input {
    padding:10px;
    text-align: center;
    justify-content: center;
    background-color: #D3D3D3	;
    border-radius: 10px;
}
.container-show input[type=radio] {
    display: none;
}
.container-show #backTo:hover {
    background-color: #333;
}
/* --------------------------view question design-------------------------- */

/* --------------------------edit question design-------------------------- */
.container-edit{
    margin-top: 70px;
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.container-edit label {
    display: block;
    margin-bottom: 5px;
}
.container-edit .choice-container {
    display: flex;
    align-items: center;
}
/* --------------------------edit question design-------------------------- */

/* --------------------------create quiz design-------------------------- */
.create-quiz-container{
    width: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
a#create_user {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-right: 10px;
}
a#create_random {
    color: orange;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: 1px solid orange;
    border-radius: 5px;
}
a#create_user:hover {
    color: #f8f9fa;
    background-color: #007bff;
    border: 1px solid #007bff;
}
a#create_random:hover {
    color: white;
    background-color: orange;
    border: 1px solid orange;
}
/* --------------------------create quiz design-------------------------- */

/* --------------------------create random quiz design-------------------------- */
.quiz-form {
    align-items: center;
    margin-top: 70px;
    background-color: #fff;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.quiz-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.num_field {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
input[type="number"]{
    margin-left: 10px;
}
.quiz-form input[type="number"], .quiz-form select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.quiz-form input[type="submit"] {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.quiz-form input[type="submit"]:hover {
    background-color: #0056b3;
}
/* --------------------------create random quiz design-------------------------- */

/* --------------------------display quiz design-------------------------- */
.container-quiz {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 70px;
    width:500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.question{
    padding:10px;
    background-color: #D3D3D3	;
    border-radius: 10px;
}
#Q{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-quiz label {
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.container-quiz .choices{
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
.container-quiz .choice-input {
    padding:10px;
    text-align: center;
    justify-content: center;
    background-color: #D3D3D3	;
    border-radius: 10px;
}
.container-quiz .choice-input {
    padding:10px;
    /*text-align: center;*/
    justify-content: flex-start;
    gap: 20px;
    background-color: #D3D3D3	;
    border-radius: 10px;
}
.container-quiz input[type=text]{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0) ;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: "Times New Roman";
}
.question-design{
    background-color: #999999;
    width: 470px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 25px 15px;
}
/* --------------------------display quiz design-------------------------- */


/**************************************************************************/
.tittle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #333333 ;
}
.submit{
    display: flex;
    justify-content: center;
}
input[type="submit"] {
    width: 50%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #333;
}
input[type="text"],input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}
table {
    width: 100%;
    border-radius:25px 15px;
    border-spacing: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
th, td {
    padding: 10px;
    text-align: center;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
}

table td{
    display: table-cell;
}

thead tr {
    font-family: OpenSans-Regular;
    background-color: #333333;
    font-size: 18px;
    color: white;
}
tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.43);
}
.error-message {
    width: 350px;
    font-family: "Times New Roman", Times, serif;
    background-color:#f44336;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 10px;
    animation: showDivAnimation 5s forwards;
}
.success-message{
    width: 350px;
    font-family: "Times New Roman", Times, serif;
    background-color: #04AA6D;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    border-radius: 10px;
    animation: showDivAnimation 5s forwards;
}
.closeBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closeBtn:hover {
    color: black;
}
@keyframes showDivAnimation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.error {
    color: red;
    font-size: 10px;
}
.back{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#backTo {
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/**************************************************************************/
.quiz-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Adjust the gap between items */
    list-style: none;
    padding: 0;
}
.quiz-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.quiz-button {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
.quiz-design{
    background-color: #999999;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 25px 15px;
}

.success{
    display: flex;
    margin-top: 70px;
    min-width: 150px;
    font-size: 22px;
    flex-direction: row;
    gap: 50px;
    font-family: "Times New Roman", Times, serif;
    background-color: #04AA6D;
    color: white;
    padding: 15px 15px 15px 0px ;
    border-radius: 10px;
}

.container_previousAttempts {
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius:15px 10px;
    margin-top: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.show_attempts{
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}
.show_attempts:hover{
    background-color: rgba(128, 128, 128, 0.43);
}